{{#each this}}
  <li class='gallery__item'>
    <img
      src='{{this.previewURL}}'
      alt='{{this.alt_description}}'
      class='gallery-img'
      type='image/jpeg'
    />
  </li>
{{/each}}
Кілька поінтів по вчорашньому занятті - Менше казочок і водички на початку(казки можна в кінці) -
Менше про типи даних (числа, рядки і все) - Пояснити різницю між властивостями обєкта(для них -
елемента) і методами(для них - інструментами) - Більше роботи з версткою - попап, кнопка «показати
більше-менше, підміна картинок, текстів по кліку». Відповідно продумати все наперед - додати ще лібу
з анімаціями(то я зробив - наче зайшло) - надихнути в кінці